<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title - Oh... Ma</title>        
        <link href="~/content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <link href="~/content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/content/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
        <link href="~/content/site.css" rel="stylesheet" type="text/css" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="Author" content="Mike Chaliy" />
        <meta name="Language" content="English">
        <script src="~/scripts/modernizr-2.5.3.js"></script>        
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div id="body">
            @RenderBody()
        </div>
        <footer class="container">
            <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
			<img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a><br />
			This <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" rel="dc:type">work</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://chaliy.name" property="cc:attributionName" rel="cc:attributionURL">Mike Chaliy</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
        </footer>
        
        <script src="~/scripts/jquery-1.7.2.min.js"></script>
        <script src="~/scripts/jquery-ui-1.8.20.js"></script>        
        <script src="~/scripts/bootstrap.min.js"></script>

    </body>
</html>