@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<article class="container">
    <div class="hero-unit">        
        <div id="hcard-Mike-Chaliy" class="vcard">
            <img src="http://chaliy.name/images/avatar320.jpg" alt="Mike Chaliy, with daughter" style="float: right" />
            <h1><a class="url fn" href="http://chaliy.name">Mike Chaliy</a></h1>
            <a class="email" href="mailto:mike@chaliy.name">mike@chaliy.name</a><br />
            Skype: <a class="skype" href="skype:mike.chaliy">mike.chaliy</a>
            <div class="adr">
                <div class="street-address">Ozerna 22/130</div>
                <span class="locality">Kyiv</span>,
                <span class="region">Kyiv</span>,
                <span class="postal-code">04209</span>
                <span class="country-name">Ukraine</span>
            </div>
            <a href="http://twitter.com/chaliy" title="My random thoughts on Twitter" class="twitter">Follow me on Twitter</a><br />
            <a href="http://www.linkedin.com/in/chaliy" title="My profile on LinkedIn" class="linkedin">My profile on LinkedIn</a><br />
        </div>
        <h2>Links</h2>
        <ul>
            <li><a href="http://github.com/chaliy">Fork me on GitHub</a></li>
            <li><a href="http://github.com/chaliy/chaliy_personal_site/">Fork this site on GitHub</a></li>
            <li><a href="http://www.codeplex.com/site/users/view/chaliy">CodePlex Profile</a></li>
        </ul>
    </div>
</article>
