@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

@section Scripts {
    <script src="/client/hometemplates"></script>
    <script src="/client/homejs"></script>
}

<div id="home"></div>