@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

@section Scripts {    
    <link href="~/content/themes/base/jquery.wysiwyg.css" rel="stylesheet" type="text/css" />
    <script src="/scripts/jquery.wysiwyg.js" ></script>
    <script src="/client/hometemplates"></script>
    <script src="/client/homejs"></script>
}

<div id="home"></div>